<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /boutique-en-ligne/

    # Si le fichier ou le dossier existe physiquement, on le sert directement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Sinon on réécrit toutes les requêtes vers index.php
    RewriteRule ^ index.php [L,QSA]
</IfModule>
