:root{
    --font-family: "Albert Sans", sans-serif;
    --font-title: "Hubot Sans", sans-serif;
    --color-1 : #1E1E1E;
    --color-2 : #F5F5F7;
    --color-3: #FE5000;
    --color-4: #10069F;
    --color-5: #FFD166;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--font-family);
    color: var(--color-1);
}
  
.header {
    padding: 1rem;
}

.header-container {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-family: var(--font-title);
font-size: 1.5rem;
cursor: pointer;
}

.header-menu {
display: flex;
align-items: center;
gap: 1rem;
}

.burger-menu,
.search-icon,
.user-icon {
background: none;
border: none;
cursor: pointer;
}

.nav-menu {
display: flex;
justify-content:flex-end;
text-align: right;
padding: 1rem;
}

.nav-menu ul {
list-style: none;
}

.nav-menu li {
margin: 0.5rem 0;
}

.nav-menu.hidden{
    display:none;
}

.login-burger{
    display:none;
}

.search-container {
    display: flex;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
}

.search-container.hidden {
    display: none;
}

#search-input {
    width: 200px;
    padding: 5px;
}

#search-btn {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #555;
}

.user-icon, .user-menu{
    display: none;
}
 


/* Version Desktop */
@media (min-width: 700px) {
    .burger-menu {
        display: none;
      }
    
      .nav-menu.hidden {
        display: flex;
        justify-content: center;
        padding: 0;
      }
    
      .nav-menu ul {
        display: flex;
        gap: 2rem;
        justify-content: center;
      }
    
      .nav-menu li {
        margin: 0;
      }

      .login-nav{
        display: none;
      }

      .login-burger{
        display:flex;
    }

    .user-icon{
        display: flex;
    }

    .user-menu{
        display: flex;
        justify-content: flex-end;
        text-align: right;

        ul{
            list-style: none;
        }

        li{
            margin : 0.5rem 0;
        }
    }

    .user-menu.hidden{
        display: none;
    }

    
}